.main{
    padding: 0 24px;
    .main-wrap{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        .row{
            display:flex ;
            .section-l{
                width:45vw;
                margin-right: 5%;
                
        }
            .section-r{
                width: 45vw;
                height: 80vh;
                
                
                .item-title{
                    font-size: 1.625rem;
                    word-spacing: 0.025em;
                    letter-spacing:0.65px;
                    line-height: 1.4;
                    font-weight: 700;
                    margin-bottom: 14px;
                    color: #39393e;
                }
            
            }
        }
        @media screen and (max-width: 555px){
            .row{
            display: block;
            .section-l{
            width: 100%;
            }
            .section-r{
                width: 100%;
                }
        }
        .recommend-section{
            display: none;
        }
        

        
    } 
        
    }
}
