.main{
    .main-wrap{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        .row{
            display:flex ;
            .section-l{
                width:53vw;
        }
            .section-r{
                width: 45vw;
                height: 80vh;
                margin-left:5%;
                .item-title{
                    font-size: 1.625rem;
                    word-spacing: 0.025em;
                    letter-spacing:0.65px;
                    line-height: 1.4;
                    font-weight: 700;
                    margin-bottom: 14px;
                    color: #39393e;
                }
            
            }
        }
        @media screen and (max-width: 540px){
            .row{
            display: block;
            .section-l{
            width: 100%;
            .item-img{
                width:80vw;
                background-color: rgb(209, 209, 209);
                height: 80vw;
                margin: 0 5%;
                .img{
                    margin: 16.5% 0;
                    width: 80vw;
                    height: auto;
                    
                }
                
            }
            }
            .section-r{
                width: 100%;
                }
        }
    } 
        
    }
}
