footer {
  font-size: 0.9rem;
  background-color: #f7f7f8;
  padding: 64px 24px;
  margin: 50px 0 0 0;
  align-items: center;
  .footer-wrap {
    margin: 0 auto;
    max-width: 1200px;
    .footer-links {
      display: flex;
      border-bottom: 1px solid black;
      justify-content: center;
      padding-bottom: 24px;
      .links {
        width: 20%;
        padding-right: 10px;

        li {
          margin-top: 6px;
          a {
            font-size: 13px;
            &:hover {
              text-decoration: underline;
            }
          }
          span {
            background: #f16c5d;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            border-radius: 3px;
            padding: 2px 6px;
            margin-left: 6px;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .social {
          margin-top: 10px;
          i {
            margin-right: 10px;
            font-size: 17px;
          }
        }
        .title {
          font-size: 14px;
          font-weight: 700;
          color: #39393e;
        }
      }
    }
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    font-size: 0.8rem;
    .left {
      display: flex;
      .logo {
        width: 82px;
        height: 24px;
        background-image: url("../../src/assets/pinkoi.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 24px;
      }
      p {
        margin-top: 5px;
        font-size: 0.75rem;
        color: #39393e;
      }
    }
    .right {
      display: flex;

      p {
        font-size: 12px;
        color: #66666a;
      }
      .right-lan {
        margin-left: 36px;

        a {
          margin-left: 10px;
          vertical-align: middle;
          color: #39393e;
          font-weight: 700;
          font-size: 12px;
          &:hover {
            text-decoration: underline;
          }
        }
        i {
          font-size: 16px;
          vertical-align: middle;
        }
      }
    }
  }

  @media screen and (max-width: 555px) {
    .footer-wrap {
      .footer-links {
        display: none;
      }
    }
  }
}
