.like-icon {
  background-color: transparent;
  border: #bfbfc1 2px solid;
  z-index: 5;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  fill: rgba(0, 0, 0, 0.4);
  &:hover {
    fill: #39393e;
  }
}
