.promotions{
    margin-bottom: 24px;
    
    ul{
        
        .none{
            cursor: none;
            color: #7c7c80;;
            font-weight: 400;
            list-style-type: none;
            margin-bottom: 0;
        }
        li{
            cursor: pointer;
            color: #ee847d;
            font-weight: 600;
            list-style-type: initial;
            margin-bottom: 14px;
        }
        .show-more-link{
    cursor: pointer;
    h2{
        margin-bottom: 14px;
        color: #2e90b7;
    }
}
    }
}