.item-img{
    display: flex;
    overflow: hidden;
    position: relative;
    width:45vw;
    background-color: #f7f7f8;
    height: 45vw;
    cursor: zoom-in;
    .change-icon{
        cursor: pointer;
        
        
        .left-icon{
            left: -5px;
            position: absolute;
            top: 50%;
            border-radius: 4px;
            background-color: white;
        }
        .right-icon{
            right: -5px;
            position: absolute;
            top: 50%;
            background-color: white;
            border-radius: 4px;
        }
    }
    .img{
        object-fit: contain;
        width: 45vw;
        
        
        
    }
    
}
.img-thumbs{
    margin: 5% 18%;
    .thumb{
        cursor: pointer;
        margin-right:10px ;
        img{ 
        width: 51px;
        height: 51px;
        }
    }
}
@media screen and (max-width: 555px){


.item-img{
    width:80vw;
    background-color: #f7f7f8;
    height: 80vw;
    margin: 5% 5%;
    .img{
        
        width: 80vw;
        height: auto;
        
    }
}
.img-thumbs{
    display: none;
}
}