
.item-title{
    font-size: 1.625rem;
    word-spacing: 0.025em;
    letter-spacing:0.65px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 14px;
    color: #39393e;
}
.item-price{
    color: #10567B;
    font-size: 1.875rem;
}
.add-btn{
    width: 100%;
    color: #fff;
    background: #f16c5d;
    border: 1px solid #f16c5d;
}
.collect-btn{
    width: 100%;
    border: #66666a 1px solid;
}
