.product-info{
    margin-bottom: 36px;
    dl{
        
        .info{
            display: flex;
            margin-bottom: 10px;
            dt{
            width: 25%;
            color: #929295;
            
            }
            dd{
            width: 75%;
            justify-content: flex-start;
            a{
                color: #2e90b7;;
            }
            }
        }
    }
}
