.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
    input,button{
        font-size: 2rem;
        padding: 0.25rem;
        border: 2px solid rgb(53, 53, 95);
        
    }
    button{
        background-color: rgb(211, 211, 230);
        color: rgb(32, 32, 56);
    }
}