* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica Neue,Helvetica,Arial,PingFang TC,Heiti TC,Microsoft JhengHei,sans-serif;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.morePicture button {
  padding: 0.25rem;
  font-size: 2rem;
  border: none;
  background-color: wheat;
  color: blueviolet;
  cursor: pointer;
}

header {
  padding: 24px;
}

header .header-wrap {
  max-width: 1200px;
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header .header-wrap .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-wrap .header-top .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-wrap .header-top .header-left .logo {
  cursor: pointer;
  width: 128px;
  height: 45px;
  background-image: url("../pic/pinkoi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 24px;
}

header .header-wrap .header-top .header-left .header-search {
  display: inline-block;
}

header .header-wrap .header-top .header-left .header-search .search-text {
  width: 25vw;
  padding: 6px 32px 5px 14px;
  line-height: 1.4;
  border: 1px solid #d3d3d5;
  font-size: 1rem;
  background: #fff;
  color: #39393e;
  border-radius: 2px 0 0 2px;
  border-right: none;
}

header .header-wrap .header-top .header-left .header-search .voice-icon {
  cursor: pointer;
  border: 1px solid #d3d3d5;
  border-right: none;
  border-left: none;
  padding: 7.3px 4px 7.3px 12px;
}

header .header-wrap .header-top .header-left .header-search .submit {
  width: 70px;
  padding: 12px 6px 9px;
  background: #10567b;
  color: white;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  line-height: 1;
  border: none;
}

header .header-wrap .header-top .header-left .header-search .trend {
  font-size: 0.9rem;
  position: relative;
  margin-top: 6px;
}

header .header-wrap .header-top .header-left .header-search .trend a {
  margin-right: 14px;
}

header .header-wrap .header-top .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

header .header-wrap .header-top .header-right .icon {
  padding: 6px;
  margin-right: 18px;
  color: #666666;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0rem;
}

.search input, .search button {
  font-size: 2rem;
  padding: 0.25rem;
  border: 2px solid #35355f;
}

.search button {
  background-color: #d3d3e6;
  color: #202038;
}

footer {
  font-size: 0.9rem;
  background-color: #f7f7f8;
  padding: 64px 24px;
  margin: 50px 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrap {
  margin: 0 auto;
  max-width: 1200px;
}

footer .footer-wrap .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

footer .footer-wrap .footer-links .links {
  width: 20%;
  padding-right: 10px;
  font-size: 0.8125rem;
}

footer .footer-wrap .footer-links .links li {
  margin-top: 6px;
}

footer .footer-wrap .footer-links .links .title {
  font-size: 0.875rem;
  font-weight: 700;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14px;
  font-size: 0.8rem;
}

footer .footer-bottom .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-bottom .left .logo {
  width: 82px;
  height: 24px;
  background-image: url("../pic/pinkoi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 24px;
}

footer .footer-bottom .left p {
  margin-top: 5px;
  font-size: 0.75rem;
  color: #39393E;
}

footer .footer-bottom .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-bottom .right .right-p {
  color: #66666a;
}

footer .footer-bottom .right .right-lan {
  margin-left: 36px;
}

footer .footer-bottom .right .right-lan a {
  margin-left: 10px;
  vertical-align: middle;
  color: #39393E;
  font-weight: 700;
}

footer .footer-bottom .right .right-lan i {
  font-size: 16px;
  vertical-align: middle;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pictures .picture {
  padding: 1rem;
  width: 300px;
}

.pictures .picture .imageContainer {
  overflow: hidden;
  height: 40vh;
}

.pictures .picture .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pictures .picture .imageContainer img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.main .main-wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main .main-wrap .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main-wrap .row .section-l {
  width: 60vw;
}

.main .main-wrap .row .section-l .item-img {
  width: 50vw;
  background-color: #d1d1d1;
  height: 50vw;
}

.main .main-wrap .row .section-l .item-img .img {
  margin: 16.5% 0;
  width: 50vw;
  height: auto;
}

.main .main-wrap .row .section-l .img-thumbs {
  margin: 5% 10%;
}

.main .main-wrap .row .section-l .img-thumbs .thumb {
  margin-right: 10px;
}

.main .main-wrap .row .section-l .img-thumbs .thumb img {
  width: 51px;
  height: 51px;
}

.main .main-wrap .row .section-l .item-description img {
  width: 100px;
  height: 100px;
}

.main .main-wrap .row .section-l .item-info dl {
  padding-top: 24px;
}

.main .main-wrap .row .section-l .item-info dl .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main-wrap .row .section-l .item-info dl .info dt {
  width: 40%;
  color: #929292;
}

.main .main-wrap .row .section-l .item-info dl .info dd {
  width: 60%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .main-wrap .row .section-l .food-info dl {
  padding-top: 24px;
}

.main .main-wrap .row .section-l .food-info dl .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main-wrap .row .section-l .food-info dl .info dt {
  width: 40%;
  color: #929292;
}

.main .main-wrap .row .section-l .food-info dl .info dd {
  width: 60%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .main-wrap .row .section-r {
  width: 40vw;
  height: 80vh;
  margin-left: 5%;
}

.main .main-wrap .row .section-r .item-title {
  font-size: 1.625rem;
  word-spacing: 0.025em;
  letter-spacing: 0.65px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 14px;
  color: #39393e;
}

.main .main-wrap .row .section-r .item-review {
  margin: 14px 0;
}

.main .main-wrap .row .section-r .item-review :nth-child(5) {
  margin-right: 10px;
}

.main .main-wrap .row .section-r .item-review i {
  color: #f16c5d;
}

.main .main-wrap .row .section-r .item-review span {
  margin-left: 10px;
  color: #2e90b7;
}

.main .main-wrap .row .section-r .item-price {
  color: #10567B;
  font-size: 1.875rem;
}

@media screen and (max-width: 540px) {
  .main .main-wrap .row {
    display: block;
  }
  .main .main-wrap .row .section-l {
    width: 100%;
  }
  .main .main-wrap .row .section-l .item-img {
    width: 80vw;
    background-color: #d1d1d1;
    height: 80vw;
    margin: 0 5%;
  }
  .main .main-wrap .row .section-l .item-img .img {
    margin: 16.5% 0;
    width: 80vw;
    height: auto;
  }
  .main .main-wrap .row .section-r {
    width: 100%;
  }
}

.box-title {
  font-weight: 700;
  font-size: 1.25rem;
  border-bottom: solid 1px #d3d3d5;
  padding-bottom: 14px;
}

.box-title-r {
  font-weight: 600;
  font-size: 1.25rem;
  border-top: solid 1px #d3d3d5;
  padding-top: 24px;
}
/*# sourceMappingURL=style.css.map */