.input {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 100px;
  height: 40px;

  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
